@model MilkyProject.WebUI.Dtos.AboutDto.ResultAboutDto

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">25</h1>
                            <small class="fs-5 fw-bold">Yıllık Deneyim</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="@Model.imageUrl">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="@Model.imageUrl2">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="@Model.imageUrl3">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">Hakkımızda</p>
                <h1 class="mb-4">@Model.title</h1>
                <p class="mb-4">@Model.description</p>
                
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Daha Fazlası</a>
            </div>
        </div>
    </div>
</div>