﻿
@model List<MilkyProject.WebUI.Dtos.ProductDto.ResultProductCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ürün Listesi</h4>

                        <div class="table-responsive pt-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> #</th>
                                        <th>Ürün Adı</th>
                                        <th>Eski Fiyat</th>
                                        <th>Yeni Fiyat</th>
                                        <th>Kategori</th>
                                        <th>Ürün Görseli</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ProductId</td>
                                            <td>@item.ProductName </td>
                                            <td>@item.OldPrice </td>
                                            <td>@item.NewPrice </td>
                                            <td>@item.CategoryId</td>
                                            <td><img src="@Url.Content("~/upload/" + item.ImageUrl)" class="square-image" /></td>
                                            <td>
                                                <a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                                                <a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-warning">Güncelle</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Product/CreateProduct/" class="btn btn-info">Ürün Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>